<div class="row">
  <div class="col-10">
    <h2>Data table</h2>
  </div>
  <div class="col-2">
    <button (click)="toggleTableClasses()" type="button" class="btn btn-secondary btn-sm">normal view</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <input [formControl]="phraseControl" placeholder="Search" type="text" class="form-control">
    <span class="text-muted ms-2">Filtered: {{ filteredData().length }} of {{ dataList().length }}</span>
  </div>
</div>
<div class="table-responsive small">
  <table [ngClass]="tableClasses()" class="table">
    <thead>
      <tr>
        @for (col of columns(); track $index) {
        <th>{{ col.title }}</th>
        }
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      @for (row of filteredData(); track $index) {
      <tr>
        @for (col of columns(); track $index) {
        <td>{{ row[col.key] | crypto}}</td>
        }
        <td>
          <div class="btn-group">
            <button (click)="onEdit.emit(row)" type="button" class="btn btn-info btn-sm">
              <i class="fa fa-edit"></i>
            </button>
            <button (click)="onDelete.emit(row)" type="button" class="btn btn-danger btn-sm">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>